@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-Black.woff2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100dvh;
    width: 100%;
}

#main {
    height: 100dvh;
    width: 100%;
    position: relative;
}

nav {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
    display: flex;
    padding: 1vh 3vw;
    align-items: center;
    justify-content: space-between;
}

#navbar h2 {
    font: 3.5rem;
}

.nav-links {
    font-size: 1rem;
    display: flex;
    gap: 5vw;
}

.nav-links i {
    display: none;
}

#content {
    height: 90%;
    display: flex;
    position: relative;
}

.left {
    height: 100%;
    width: 50%;
    padding: 6vh 5vw;
}

.left h1 {
    font-size: 3rem;
    margin-top: 4vh;
    margin-bottom: 5vh;
    word-spacing: 3px;
    text-transform: capitalize;
    line-height: 10vh;
}

.left span {
    color: green;
    font-size: 3.5rem;
}

.left p {
    font-size: 1rem;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 5vh;
}

.left button {
    padding: 2vh 2vw;
    background: green;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    height: min(80vh);
    width: min(40vw);
    object-fit: cover;
}

@media (max-width: 600px) 
{
    #navbar {
        background-color: black;
        color: white;
    }
    #navbar h2 {
        font-size: 1.7rem;;
    }
    .nav-links h3 {
        display: none;
    }
    .nav-links i {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-right: 5vw;
    }
    #content {
        flex-direction: column;
    }
    #content .left {
        width: 100%;
    }
    #content .right {
        width: 100%;
    }
    .right img {
        width: 80vw;
        height: 60vh;
        object-fit: cover;
    }
}